<section class="jumbotron text-center">
  <div class="container">
    <h1>Photostock</h1>
    {{#unless user}}
    <p class="lead text-muted">Функционал ресурса становиться доступен после регистрации!</p>
    <p>
      <a href="/auth/google" class="btn btn-primary my-2">Google</a>
    </p>
    {{/unless}}



    {{#if user}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
      Upload photo
    </button>
    {{/if}}
  </div>
</section>